* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  width: 100vw;
}
@media only screen and (max-width: 500px) {
  body{
    max-width: 100vw;
    overflow-x: hidden;
  }
}
.navbar {
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 122px;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul li {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #01010d;
  opacity: 0.8;
  margin: 0 30px;
  height: 100%;
  cursor: pointer;
}
.navbar ul .active {
  font-weight: 700;
}
.navbar ul .last {
  margin-right: 0;
}
.navbar button {
  width: 150px;
  height: 50px;
  background-color: #1617db;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  line-height: 130%;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.mobile{
  display: none;
}
@media only screen and (max-width: 500px){
  .navbar {
    width: 100%;
    height: 100vh;
    top: 0;
    right: -200%;
    display: block !important;
    text-align: right;
    padding: 20px;
    background-color: white;
    z-index: 99;
    transition: all 0.2s linear;
    position: fixed;
  }
  .activee{
    right: 0 !important;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 50%;
    float: right;
  }
  .navbar ul li {
    margin:10px 0;
  }
  .mobile{
    display: block;

  }
  .equal{
    position: fixed;
    left: 20px;
    z-index: 10;
  }
}

/* --------- HERO SECTION --------- */

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 90px 100px 0 122px;
  align-items: center;
  position: relative;
  background-image: url("../images/heroBg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hero .left p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1617db;
}
.hero .left h1 {
  font-weight: 700;
  font-size: 50px;
  color: #01010d;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.hero .left .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #01010d;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.hero .left .buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.hero .left .buttons button {
  width: 150px;
  height: 49px;
  border: 1px solid rgba(22, 23, 219, 0.2);
  border-radius: 6px;
  background-color: transparent;
  color: #1617db;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.hero .left .buttons .active {
  background-color: #1617db;
  color: white;
}
.hero .right img {
  width: 700px;
  height: 450px;
  object-fit: contain;
}
@media only screen and (max-width: 500px){
  .hero {
    display: flex;
    flex-direction: column;
    padding: 120px 20px;
  }
  .hero .left h1 {
    font-weight: 700;
    font-size: 40px;
    color: #01010d;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .hero .left .description {
    font-size: 14px;
  }
  .hero .right img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
/* --------------------- Features ------------------------- */

.feature {
  width: 100%;
  padding: 0 150px;
}
.feature .title {
  margin-top: 90px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 51px;
  line-height: 120%;
  text-transform: capitalize;
  color: #01010d;
}
.feature .sub-title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #01010d;
  width: 400px;
  margin: 0 auto 80px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature .column .item {
  text-align: center;
  margin-bottom: 55px;
}
.feature .column .item img {
  width: 145px;
  height: 145px;
}
.feature .column .item h3 {
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #01010d;
  margin-bottom: 10px;
}
.feature .column .item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #01010d;
  opacity: 0.8;
}
.feature .middle {
  width: 433.25px;
  height: 442.2px;
  object-fit: contain;
}

@media only screen and (max-width: 500px){

  .feature {
    
    padding: 20px;
  }
  .feature .title {
    
    font-size: 45px;
    
  }
  .feature .sub-title {
    width: 100%;
  }
  .feature .d-flex {
    display: block;
    text-align: center;
  }
  .feature .middle {
    width: 70%;
    height: auto;
    object-fit: contain;
  }
}
/* ----------------- Products section  ------------------- */

.products {
  width: 100%;
  padding: 0 120px;
}
.products .title {
  margin-top: 90px;
  margin-bottom: 25px;
  text-align: left;
  font-weight: 700;
  font-size: 51px;
  line-height: 120%;
  text-transform: capitalize;
  color: #01010d;
}
.products .sub-title {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #01010d;
  width: 410px;
  margin-bottom: 55px;
}
.products .d-flex {
  justify-content: space-between;
}
.products .item {
  width: 302px;
  height: 388px !important;
  border-radius: 64px;
  height: 150px;
  text-align: center;
  border: 3px solid #cccccc;
  padding: 1px;
}
.products .item img {
  width: 100%;
  object-fit: contain;
}
.products .item:nth-child(1) {
  background-color: pink;
}
.products .item:nth-child(2) {
  background-color: rgb(199, 199, 252);
}
.products .item:nth-child(3) {
  background-color: rgb(253, 217, 223);
}
@media only screen and (max-width: 500px){
  .products {
    padding: 20px;
  }
  .products .title {
    
    text-align: center;
    
  }
  .products .sub-title {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #01010d;
    width: auto;
    margin-bottom: 55px;
  }
  .products .d-flex{
    flex-direction: column;

  }
  .products .item {
    width: 100%;
    margin-bottom: 25px;
  }
  
}

/* ------------- Video Part ------------------ */

.video-part {
  margin-top: 164px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}
.video-part .left,
.video-part .right {
  width: 50%;
  padding: 10px 20px;
}
.video-part video {
  border-radius: 10px;
  height: auto;
}
.video-part h1 {
  font-weight: 700;
  font-size: 51px;
  line-height: 120%;
  color: #01010d;
  margin-bottom: 25px;
}
.video-part p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #01010d;
}
.video-part button {
  border: 1px solid #e5e5e5;
  background-color: transparent;
  color: #1617db;

  font-size: 16px;
  height: 64px;
  width: 186px;
  border-radius: 6px;
  margin-top: 15px;
}

@media only screen and (max-width: 500px){
  .video-part {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding:20px;
  }
  .video-part .left,
  .video-part .right {
    width: 100%;
  }
  .video-part h1 {
    font-size: 40px;
    text-align: center;
  }
  .video-part button {
   
    width: 100%;
  }
}
/* footer */
footer {
  margin-top: 140px;
  justify-content: space-between;
  padding: 40px 120px;
  display: flex;
  align-items: flex-start;
  background-color: #f7f7f7;
}
footer ul li {
  margin: 12px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #01010d;
  cursor: pointer;
}
footer ul .title{
  font-weight: 600;
}
footer .media{
  display: flex;
  align-items: center;
  width: 100%;
}
footer .media *{
  margin-right: 25px;
  cursor: pointer;
}
@media only screen and (max-width: 500px){
  footer {
    margin-top: 140px;
    justify-content: space-between;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    background-color: #f7f7f7;
  }
  footer ul li {
    margin: 12px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #01010d;
    cursor: pointer;
  }
  footer ul .title{
    font-weight: 600;
  }
  footer .media{
    display: flex;
    align-items: center;
    width: 100%;
  }
  footer .media *{
    margin-right: 25px;
    cursor: pointer;
  }
}